body{
    background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #157241;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Georgia", serif;
}

li a:hover {
  background-color: #d79207;
}

#home {
  padding-top:20px;
  padding-bottom:10px;
}


.yellow{
  color:rgb(203, 159, 13);
}

.about{
  font-family: "Georgia", serif;
}

#aboutme {
  padding-bottom: 50px
}


#headshot{
    float: left;
    margin: 10px;
    padding-right: 20px;
}



.work{
  font-family: "Georgia", serif;

}

.row {
  display: flex;
  justify-content: start;
  align-items: center;
}

.column {
  display: flex;
  padding: 20px;
  padding-bottom: 50px;
}


#projects{
  background-color: rgb(224, 240, 230);
  padding: 50px 0px 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    background-color: rgb(224, 240, 230);
    padding: 10px;
    width: 800px;
    height: 100px;
    justify-content: space-between;
  }
.grid-item {
    background-color: #fffaf5;
    border: 2px solid #16894c;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    justify-content: space-between;
    font-family: "Georgia", serif;
  }

  
  .grid-item:hover {
    background-color: #fffaf5;
    text-align: center;
    justify-content: space-between;
    border:1px #16894c
  }

  @media screen and (max-width: 1200px) {
    .grid-container {
    grid-template-columns: 1fr 1fr;
    }
    #projects{
      background-color: rgb(224, 240, 230);
      padding: 50px 0px 75px;
    }
    }

  @media screen and (max-width: 900px) {
  .grid-container {
  grid-template-columns: 1fr;
  }
  #projects{
    background-color: rgb(224, 240, 230);
    padding: 50px 0px 150px;
  }
  }


.contact{
  font-family: "Georgia", serif;
  padding-top: 75px;
  line-height: 25px;
}



.textbox{
    height: 100px;
    width: 400px;
    }


.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #157241;
  color: white;
  text-align: center;
}